<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjzgMf-zbGm8tnWe-EYnX_eI4yk2i6gQk</string>
	<key>GCM_SENDER_ID</key>
	<string>874978538885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithellie.MoveMint</string>
	<key>PROJECT_ID</key>
	<string>movemint-1a2b0</string>
	<key>STORAGE_BUCKET</key>
	<string>movemint-1a2b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874978538885:ios:facb8d091aae78fa4b00ec</string>
</dict>
</plist>